.DS_Store
*.pyc
instance/
__pycache__
.vscode
.pytest_cache
.coverage
htmlcov/
mysql-dumps/
dh-params/
.pytest_cache/
.mypy_cache/
data/

*.env

# Self signed certs for test deployment
certs/
# Insertion logs
insert_logs/
temp.py

npatlas_curator.sql
